<div>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">      
      <div>
          <label>Choose Music File:</label> 
        <input type="file" name="profile" (change)="onFileSelect($event)" /> <br>
        <label>Song Duration:</label>
        <input type="number" step="0.1" name="length" (change)="onLengthSelect($event)" /> <br>
        <label>Music Category:</label> 
        <select name="category" (change)="onCategorySelect($event)" >
          <option [value]="-1"></option>
          <option [value]="6">FUNK</option>
          <option [value]="5">LATIN</option>
          <option [value]="4">JAZZ</option>
          <option [value]="3">OPERA</option>
          <option [value]="2"> HIP_HOP</option>
          <option [value]="1">ROCK</option>
          <option [value]="0">LOVE</option>
          </select>
          <br>
      </div>
      <div>
          <ng-progress></ng-progress>    
        <button type="submit">Upload</button>
      </div>
    </form>
  </div>