<div>
    <form  ngNoForm action= "http://localhost:8080/mini_project/rest/file/download" method="post" enctype="multipart/form-data">

      <input type="text" name="fileName" value="Song name..."> <br>
    
      <input type="submit" value= "download"><br>
    </form>
  </div>
