<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!--The content below is only a placeholder and can be replaced.-->
<body style="background-color:lightgoldenrodyellow">
<div style="text-align:center"> 
  <h1 style="color:blue; font-family:verdana;font-size:300%;">
    Welcome to MorMusic!
  </h1>
</div>
<app-music-files></app-music-files><br><br>
 <app-upload-file></app-upload-file> <br><br>
 <app-download></app-download>
 <br>
</body>


